
# Set refresrate to 120Hz
xrandr --output DVI-D-0 --off --output HDMI-0 --mode 2560x1440 --pos 0x0 --rotate normal --output HDMI-1 --off --output DP-0 --off --output DP-1 --off --output DP-2 --mode 3440x1440 --rate 120 --pos 2560x0 --rotate normal --output DP-3 --off
~/.scre

# Background Image
feh --bg-fill ~/Pictures/milky-way.jpg

# Sound Volume
amixer set Master 100%
